.Header
  グループを作成しました
.Contents
  .Contents__left
    .Contents__left__top
      test-user
      .Contents__left__top__icon
        =link_to "" do
          = fa_icon 'edit'
        =link_to "" do
          = fa_icon 'cog'
    .Contents__left__bottom
      <h1>test-group</h1>
      <p>さようなら!</p>
      <h1>sample-group</h1>
      <p>hello!</p>
      <h1>example</h1>
      <p>まだメッセージがありません</p>
  .Contents__right
    .Contents__right__header
      .Contents__right__header__group
        .Contents__right__header__group__name
          test-group
        .Contents__right__header__group__member
          Member : test-user     
      =link_to "", class: "Contents__right__header__edit" do
        Edit
    .Contents__right__main
      .Contents__right__main__user
        .Contents__right__main__user__name
          test-user
        .Contents__right__main__user__date
          2019/10/21(Mon) 10:59:30
      .Contents__right__main__chat
        こんにちは！
      .Contents__right__main__user
        .Contents__right__main__user__name
          test-user
        .Contents__right__main__user__date
          2019/10/21(Mon) 11:59:30
      .Contents__right__main__chat
        さようなら！
    .Contents__right__footer
      %form.Contents__right__footer__input
        .Contents__right__footer__input__chat
          %input.Contents__right__footer__input__chat__text{name: "chat", placeholder: "type a message", type: "text"}
          %label.Contents__right__footer__input__chat__icon{for: "upload-icon"}
            %i.fa.fa-picture-o
            %input#upload-icon{name: "picture", type: "file"}/
        %input.Contents__right__footer__input__send{name: "send", type: "submit", value: "Send"}
          
      
