$groupWhiteColor: #ffffff;
$groupBlackColor: #333333;
$memberGrayColor: #999999;
$chatBlackColor: #434a54;
$editBlueColor: #38aef0;
$footerGrayColor: #ddd;
$topBlackColor: #253141;
$bottomBlackColor: #2f3e51;
$borderWhiteColor: #eeeeee;